{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div id="about">
        <div class="col-12 text-center mt-5">   
            <h1 class="text-dark pt04">About</h1>
            <div class="border-top border-primary w-50 mx-auto my3"></div>
            <p class="lead my-4">More than a just a teacher, a Test Automation Coach</p>
        </div>

        <div class="container marketing">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <img src="static/img/omar_safety.jpeg" alt="" class="card-img-top rounded-circle w-50 mx-auto">
                        <p class="my-4 text-center">
                            I'm Omar Navarro, a Test Automation Specialist and Coach with 16+ year of experience in IT and some more as a Teacher.  I specialize in Selenium WebDriver, RestAssured and Agile QA processes.

                        </p>

                        <p class="my-4 text-center">
                            My work revolves around software test automation, and devote some of my free time to empower the careers of a small community of Software Testers.  My approach is to create practical workshops, where my mentorees create a Project Portfolio to showcase their programming, Front End and Back end testing skills.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}